/* default styles */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

html {
    height: 100%;
}

body {
    font-size: 62.5%;
    line-height: 1;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    background-image: url('./img/background.jpg');
    background-size: cover;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
a,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    height: auto;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quiz section */
.quiz,
.warning,
.finish {
    margin: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 30px;
    opacity: .8;
}

.warning-inner-img,
.finish-inner-img {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.warning-img-2,
.finish-img-2 {
    width: 300px;
    height: auto;
}

.warning h2,
.finish-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.quiz-wrap {
    display: flex;
    flex-direction: column;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.quiz-progress {
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
}

.quiz-progress-inner {
    height: 100%;
    border-radius: 30px;
    width: 70%;
    background: rgb(18, 231, 48);
    transition: all .3s ease-in-out;
    background: linear-gradient(90deg, rgb(165, 153, 227) 0%, rgb(78, 95, 230) 100%);
}

.quiz-title {
    margin: 30px 0;
    font-size: 18px;
    text-align: center;
}

.quiz-list-item {
    border: 1px solid #5856e3;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    min-height: 44px;
    font-size: 16px;
    transition: all .2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.quiz-list-item.correct {
    background: #d4edda;
    border: 1px solid #5856e3;
    color: #1eb140;
}

.quiz-list-item.incorrect {
    background: #f8d7da;
    border: 1px solid #5856e3;
    color: #721c24;
}

.quiz-list-item.disabled {
    pointer-events: none;
}

.quiz-list-item:hover {
    background: #B8ADE7;
}

.quiz-footer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-score {
    font-size: 16px;
    font-weight: 700;
}

.quiz-btn-next,
.finish-btn a {
    background: #FCA82F;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #FCA82F;
    font-size: 14px;
    color: #000;
}

.quiz-btn-next:hover,
.finish-btn a:hover {
    background: #B8ADE7;
    border: 1px solid #B8ADE7;
}

.finish-btn {
    margin: 20px 0;
    text-align: center;
}

.finish-btn a {
    display: inline;
}

.finish {
    text-align: center;
}

.finish-text {
    font-size: 16px;
    font-weight: 700;
}